@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

.appointmentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.promptContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    margin: 10px 10px;
}

button {
    border-color: black;
    color: black;
}

button:hover {
    color: white;
    background-color: black;
}

select {
    background-color: black;
    color: white;
    width: 120px;
    height:40px
}

select:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

input {
    height: 40px;
}