ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
  cursor: pointer;
}

.navBar {
  background: black;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
  
}

.navBar button:hover {
  background: black;
  color: #cf3e38;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.razorLogo {
  height: 80px;
  width: 250px;
}

li:hover {
  color: #f6f604;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }
